:global {
  @import 'base';
  * {
   margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  }
  body {
    min-width: 320px;
    background: #fff;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .brand-logo img {
    height: 90px;
    max-width: 100%;
    transition: all 0.4s ease;
  }
  .ant-modal-body {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    background: #3a393e;
    width: 100%;
    height: 45px;
    font-size: 14px;
  }
  .main {
    width: 100%;
    height: auto;
  }
  .pf-l {
    font-family: PingFangSC-Ultralight, sans-serif;
  }
  .pf-r {
    font-family: PingFangSC-Regular, sans-serif;
  }
  .pf-m {
    font-family: PingFangSC-Medium, sans-serif;
  }
  .P-A {
    position: absolute;
  }
  .D-IB {
    display: inline-block;
  }
  .TA-C {
    text-align: center !important;
  }
  .TA-L {
    text-align: left !important;
  }
  .TA-R {
    text-align: right !important;
  }
  .F-L {
    float: left !important;
  }
  .bold {
    font-weight: bold;
  }
  .C-P {
    cursor: pointer;
  }
  .full-h {
    height: 100% !important;
  }
  .align-center{
    margin: 0 auto;
    text-align: center;
  }
  .align-left{
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
  .P-F {
    position: fixed;
  }
  .F-R {
    float: right !important;
  }
  .gradient-background-anim {
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(-135deg, #227752, #333C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    color: #333c7e;
    animation: Gradient 20s ease infinite;
  }
  .label {
    font-weight: bold;
  }
  @include number-classes;
  .navbar-nav > li {
    float: left;
  }
  .nav > li {
    position: relative;
    display: block;
  }
  .menu-sticky .brand-logo img {
    height: 90px !important;
  }
  .footer-bottom a {
    color: #fff;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
  .inner-nav > ul > li > a {
    color: white;
    outline: none;
    padding: 0px 15px;
    line-height: 90px;
    display: block;
  }
  .main-nav .menu-light .navbar-toggle i {
    transition: all 0.4s ease-in-out;
  }
  .footer-bottom {
    color: #a1a1a1;
    background-color: rgba(13, 10, 55, 1);
    padding: 20px 20px;
    font-size: 14px;
  }
  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .navbar {
    margin-bottom: 0px;
    border: 0px;
    font-weight: 300;
  }
  .nav .open a,
  .nav li a:hover,
  .nav li a:focus {
    text-decoration: none;
    background-color: transparent;
  }
  .nav .open a:focus,
  .nav .open a:hover {
    background-color: transparent
  }
  .main-nav .menu-light .inner-nav > ul > li > a {
    transition: all 0.4s ease-in-out;
  }
  .navbar-header {
    float: right;
  }
  /*===============================
  ==========  5.1 Logo  ==========
   *===============================*/
  .brand-logo {
    float: left;
    line-height: 100%;
    position: relative;
    z-index: 1;
  }
  .display-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand {
    padding: 0px;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
  }
  .navbar-brandname {
    color: white;
  }
  .navbar-brandname:hover {
    color: #ccc;
  }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none;
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    button {
      height: 100%;
      background-color: transparent;
      border: 0;
    }
  }
  .menu-transparent {
    background-color: transparent !important;
    position: absolute !important;
    box-shadow: none !important;
    border-bottom: 0px !important;
    transition: all 0.4s ease;
    &.push-top {
      margin-top: 30px;
    }
    .dropdown {
      color: white;
    }
    .brand-logo .entas-logo {
      display: inline-block;
      background: url(/static/imgs/entas-logo.png);
      background-position: center;
      background-size: cover;
      height: 50px;
      width: 50px;
    }
  }
  .custom-collapse .dropdown>a:hover>i {
    opacity: 1;
  }
  .main-nav {
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    height: 90px;
    text-align: left;
    z-index: 101;
    transition: all 0.4s ease-in-out;
    .inner-nav {
      float: right;
    }
    &.js-transparent {
      transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    }
    &.op-nav.menu-light .inner-nav > ul > li.active > a {
      color: #ccc;
    }
    &.menu-light {
      background-color: #fff;
      border-bottom: 1px solid #e9e9e9;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
      .inner-nav > ul > li > a:hover > a:focus {
        color: #ccc;
      }
      .navbar-toggle i:hover {
        color: #ccc;
      }
    }
  }
  .nav .mega-menu {
    position: relative;
  }
  @media (max-width: 1199px) {
    /* Bootstrap Collapsing Breakpoint*/
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
      overflow-y: auto !important;
      overflow-x: hidden !important;
    }
    .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-text {
      float: none;
      margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
      display: block!important;
    }
    .footer-headline {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 40px;
    }
  }
  @media (min-width: 991px) {
    .footer-headline {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 40px;
    }
  }
  .index-title {
    padding-top: 40vh;
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 48px;
    letter-spacing: 5px;
    font-family: Arial-Black, sans-serif;
    @media (max-width: 768px) {
      top: 30%;
    }
  }
  .ant-modal-content {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes :global(Gradient) {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
