* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

body {
  min-width: 320px;
  background: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

img[alt='github-img'] {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #1890ff;

  &:active {
    outline: 0;
  }

  &:hover {
    outline: 0;
    text-decoration: none;
  }
}

*::before,
::after {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.brand-logo img {
  height: 60px;
  max-width: 100%;
  transition: all 0.4s ease;
}

.container::before,
.container::after,
.container-fluid::before,
.container-fluid::after,
.row::before,
.row::after {
  content: ' ';
  display: table;
}

.container::after,
.container-fluid::after,
.row::after {
  clear: both;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.break {
  word-break: break-all;
  word-wrap: break-word;
}

.main {
  width: 100%;
  height: auto;
}

.disable-drag {
  -webkit-user-drag: none;
}

/* ===============================
  ==========  shortcut  ==========
   *=============================== */
.pf-l {
  font-family: PingFangSC-Ultralight, sans-serif;
}

.pf-r {
  font-family: PingFangSC-Regular, sans-serif;
}

.pf-m {
  font-family: PingFangSC-Medium, sans-serif;
}

.P-A {
  position: absolute;
}

.D-IB {
  display: inline-block;
}

.D-B {
  display: block;
}

.D-I {
  display: inline;
}

.D-N {
  display: none !important;
}

.F-N {
  float: none !important;
}

.TA-C {
  text-align: center !important;
}

.TA-L {
  text-align: left !important;
}

.TA-R {
  text-align: right !important;
}

.F-L {
  float: left !important;
}

.bold {
  font-weight: bold;
}

.C-P {
  cursor: pointer;
}

.full-h {
  height: 100% !important;
}

.full-w {
  width: 100% !important;
}

.full-size {
  width: 100%;
  height: 100%;
}

.W-100 {
  width: 100vw !important;
}

.H-100 {
  height: 100vh !important;
}

.MH-100 {
  max-height: 100vh !important;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.P-F {
  position: fixed;
}

.F-R {
  float: right !important;
}

input.input {
  color: #a1a1a1;
  padding: 0 6px;
}

input.input:focus {
  color: #1a1a1a;
  outline: none !important;
}

.material-tabs .jss5 {
  padding: 0;
}

.material-tabs .jss7 {
  width: 0;
}

.material-tabs .MuiTabs-indicator {
  width: 0 !important;
}

.wechat-tip {
  max-width: 100vw;
  margin: 0;
  height: 100vh;
}

.wechat-img {
  background: url(/imgs/wechat-tip.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar-nav > li {
  float: left;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.inner-nav > ul > li > a {
  outline: none;
  padding: 0 0 0 30px;
  line-height: 60px;
  display: block;
  color: currentColor;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav .open a:focus,
.nav .open a:hover {
  background-color: transparent;
}

.navbar-header {
  float: right;
}

.brand-logo {
  float: left;
  line-height: 100%;
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  z-index: 1;
}

.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account {
  width: 100%;
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 30px;
  margin: 0;
}

.item-padding {
  padding-left: 30%;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #000;

  @media (max-width: 768px) {
    padding-left: 5px;
  }
}

.nav .mega-menu {
  position: relative;
}

.index-padding {
  margin-top: -90px !important;
}

.article-style {
  font-size: 14px;
  padding: 10px;
  text-align: left;
  line-height: 28px;

  p,
  div {
    img {
      max-width: 100%;
    }
  }
}

.article-cover {
  p,
  div {
    img {
      max-width: 100%;
    }
  }
}

.carousel-cover {
  cursor: pointer;

  p,
  div {
    padding: 0;

    img {
      width: 100%;
    }
  }
}

.carousel-title {
  cursor: pointer;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: #ccc;
  }
}

.payment-box {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }
}

.text-button {
  z-index: 100;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1199px) {
  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .footer-headline {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 40px;
  }
}

@media (min-width: 991px) {
  .footer-headline {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 40px;
  }
}

/*****************************************************
 * ****************  22. Pricing Table ******************
 * *****************************************************/

/* ===============================
=====  28.1 Footer Widget  =====
 *=============================== */
.divider {
  height: 1px;
  margin: 0;
  background: #818181;
  opacity: 0.4;
}

.convert-background {
  padding-top: 10vh;
}

/* nprogress-css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #e60113;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0, -4px);
  -ms-transform: rotate(3deg) translate(0, -4px);
  transform: rotate(3deg) translate(0, -4px);
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.gradient-background-anim {
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(-135deg, #227752, #333c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 20s ease infinite;
}

.index-title {
  padding-top: 30vh;
  z-index: 1000;
  text-align: center;
  color: white;
  font-size: 48px;
  letter-spacing: 5px;
  font-family: Arial-Black, sans-serif;
}

@keyframes :global(Gradient) {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
